//edit forms used to edit event

doctype html
html
    include head

    body
        nav
            include navbar
    .signup-back.reg-vol
        .row.signup-form
            .col-md-6.m-auto
                .card-body
                    h1.text-center.mb-3
                        |  Edit
                    h4.text-center.mb-3.heading-primary-sub
                        |  An Event
                //multipart included for uploading files
                form(action=`/edit/event/${event._id}`, method='POST', enctype='multipart/form-data')
                    .form-group
                        label(for='name') Name(*)
                        input.txt(type='text', required='', value=event.name, name='name' maxlength="40")
                    .form-group
                        label(for='date') Date(*)
                        input.text-center(id='datefield', value=event.date, required='', type='date', name='date',class="form-control")
                        //script used to restrict user from entering past dates
                        script
                            include date_restrict.js

                    .name.row
                        .form-group.col-md-6.p-0
                            label(for='type') Type(*)
                            input.txt(type='text', value=event.type, required='', placeholder='Please input type of event', name='type' maxlength="30")
                        .form-group.col-md-6.p-0
                            label(for='location') Location(*)
                            input.txt(type='text',value=event.location, required='', placeholder='Please input location of event', name='location' maxlength="40")
                    //script that enables users preview upload image
                    script
                        include image_upload.js

                    .form-group
                        label(for='image') Image(*)
                        .image-upload-wrap
                            input.file-upload-input(type='file', value=event.image, onchange='readURL(this);', accept='image/*' name='image', required='')
                            .drag-text
                                h3  Click/Drag and drop to Upload
                        .file-upload-content
                            img.file-upload-image(src='#', alt='your image')
                            .image-title-wrap
                                button.remove-image(type='button', onclick='removeUpload()')
                                    | Remove
                                    span.image-title Uploaded Image
                    //script that illustrates the maximum input as a progress bar
                    script
                        include progress.js

                    body(ng-app='descApp')
                        div(ng-controller='myController')
                            form
                                .row
                                    //place for previous description so user can copy and paste, value does not seem to work in text area
                                    .form-group.col-md-6.p-0
                                        label(for='description') Previous Description
                                        p #{event.description}

                                    .form-group.col-md-6.p-0
                                        label(for='description') Description (Max: 350)
                                        textarea.form-control.textarea-bounds(name='description', ng-model='description', style="min-height: 200px;")
                                        .form-group.mb-3
                                            .progress
                                                .progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuemax='100', ng-style='setProgressWidth()',
                                                ng-class="{'bg-warning':progressOver50(),'bg-danger':progressOver75()}")

                                button.btn.btn-block.signup-btn.p-3.m-0(type='submit', ng-disabled = 'validateDesc()') ADD EVENT


    include footer

